[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "third_party/ZBar"]
	path = third_party/ZBar
	url = https://github.com/Zyy1996/ZBar.git
[submodule "third_party/libev"]
	path = third_party/libev
	url = https://github.com/Zyy1996/libev.git
[submodule "third_party/json-c"]
	path = third_party/json-c
	url = https://github.com/Zyy1996/json-c.git
